@model Yahtzee.Web.ViewModels.GameVM
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewBag.Title = "Yahtzee Game";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .chat {
        align-content: end;
        overflow-y: auto;
        overflow-wrap: break-word;
    }
</style>

<div class="container chat">
    <input type="text" id="message" />
    <input type="button" id="sendmessage" value="Send" />
    <input type="hidden" id="displayname" value="Test" />
    @*<input type="button" id="sendturn" value="Send Turn" />*@
    <ul id="discussion"></ul>
</div>

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.7/signalr.min.js"></script>
    <script>
        $(function () {
            console.log('Start the Hub');

            var connection = new signalR.HubConnectionBuilder()
                .withUrl('https://mryahtzeeapi.azurewebsites.net/GameHub')
                .build();

            console.log("After hub connection");

            var messageInput = document.getElementById('message');
            @{
                var username = Model.User.Username;
                string usernames = username;
                var lobby = Model.Lobby.Id;
                string lobbyid = lobby.ToString();
            }
            var name = "@usernames";


            @{
                var scores = Model.Scorecard.GrandTotal;
                int grandTotal = scores;
            }
            var score = "@scores";


            // Create a function that the hub can call to broadcast messages.
            connection.on('receivemessage', function (name, message) {
                // Html encode display name and message.
                var encodedName = name;
                var encodedMsg = message;
                // Add the message to the page.

                var liElement = document.createElement('li');
                liElement.innerHTML = '<strong>' + encodedName + '</strong>:&nbsp;&nbsp;' + encodedMsg;
                document.getElementById('discussion').appendChild(liElement);

            });

            connection.on('receiveturn', function (name, score){
                var encodedName = name;
                var encodedTotal = score;

                var liElement = document.createElement('li');
                liElement.innerHTML = encodedName + ' has taken their turn. Their total is now ' + encodedTotal + ' points.';
                document.getElementById('discussion').appendChild(liElement);
            });

            connection.start()
                .then(function () {
                    console.log('connection started');
                    connection.invoke('JoinGroup', '@lobbyid');

                    var liElement = document.createElement('li');
                    liElement.innerHTML = '<strong>' + name + '</strong>:&nbsp;&nbsp;' + 'Connecting...';
                    document.getElementById('discussion').appendChild(liElement);

                    connection.invoke('sendmessagetogroup', "@lobbyid", name, "Connected ");

                    document.getElementById('sendmessage').addEventListener('click', function (event) {
                        // Call the Send method on the hub.
                        //connection.invoke('sendmessage', name, messageInput.value);
                        connection.invoke('sendmessagetogroup', "@lobbyid", name, messageInput.value);
                        
                        var element = document.getElementById('discussion');
                        element.scrollTop = element.scrollHeight;

                        // Clear text box and reset focus for next comment.
                        messageInput.value = '';
                        messageInput.focus();
                        event.preventDefault();
                    });

                    @*document.getElementById('sendturn').addEventListener('click', function (event) {
                        connection.invoke('sendturntogroup', "@lobbyid", name, score);

                        var element = document.getElementById('discussion');
                        element.scrollTop = element.scrollHeight;
                    });*@
                })
                .catch(error => {
                    console.error(error.message);
                });
        });

        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }

        message.addEventListener("keypress", function (event) {
            if (event.key === "Enter") {
                event.preventDefault();
                document.getElementById("sendmessage").click();
            }
        });

    </script>
}
